.hidden {
  display: none!important;
}

.wx-contacts-container {
  font-family: 'Microsoft YaHei';
}

.wx-contacts-shortcuts-ctn {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Microsoft YaHei';
}
.wx-contacts-shortcuts-ctn > a {
  width: 30px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  color: #999;
}
.wx-contacts-shortcuts-ctn > a[href="#wx-contacts-hook-search"] {
  border: 2px solid #999;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  transform: translate(80%,-50%);
}

.wx-contacts-shortcuts-ctn > a[href="#wx-contacts-hook-search"]::after {
  content: '';
  display: block;
  width: 5px;
  height: 0px;
  border: 1px solid #999;
  transform: rotate(45deg) translate(140%,110%);
}

.wx-contacts-list {
  position: relative;
  padding: 0px;
  list-style-type: none;
}
.wx-contacts-list li {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 10px;
  border-top: 1px solid #EFEFF4;
}
.wx-contacts-list li.wx-contacts-hooks {
  display: block;
  height: 20px;
  line-height: 20px;
  background-color: #EFEFF4;
  border-top: none;
}
.wx-contacts-list li.wx-contacts-hooks + li {
  border-top: none;
}

.wx-contacts-list li.wx-contacts-on-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.wx-contacts-list li.wx-contacts-on-top + li {
  padding-top: 20px;
}

input.wx-contacts-search {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: none;
  border-bottom: 1px solid #EFEFF4;
  font-size: 16px;
  outline: none;
}
.wx-contacts-search-result .wx-contacts-list li {
  border-top: none;
  border-bottom: 1px solid #EFEFF4;
}

.wx-contacts-badge {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.wx-contacts-search-bar {
    position: relative;
    display: flex;
    box-sizing: border-box;
    background-color: #EFEFF4;
}

.wx-contacts-search-bar:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #D7D6DC;
    color: #D7D6DC;
    transform: scaleY(0.5);
}


.wx-contacts-search-bar:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #D7D6DC;
    color: #D7D6DC;
    transform: scaleY(0.5);
}

.wx-contacts-search-inner {
  position: relative;
  box-sizing: border-box;
  margin: 7px 10px;
  padding-left: 30px;
  padding-right: 30px;
  height: 26px;
  width: 100%;
  border-radius: 3px;
  background: #FFFFFF;
  z-index: 1;
}

.wx-contacts-search-inner .wx-contacts-search-input {
    box-sizing: border-box;
    width: 100%;
    height: 26px;
    line-height: 26px;
    padding: 4px 0;
    border: 0;
    font-size: 14px;
    background: transparent;
    outline: none;
}

/* webkit 内核浏览器 type=search 的 input 自带 取消 按钮*/
.wx-contacts-search-input::-webkit-search-cancel-button {
  display: none;
}

.wx-contacts-icon-clear {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #999;
  border-radius: 50%;
  background: #999;
  z-index: 1;
}

.wx-contacts-icon-clear::before {
  content: "";
  width: 1px;
  height: 80%;
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg);
  left: 50%;
  top: 50%;
}

.wx-contacts-icon-clear::after {
  content: "";
  width: 1px;
  height: 80%;
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%) rotate(-45deg);
  left: 50%;
  top: 50%;
}

.wx-contacts-search-text {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    margin: 8px 10px;
    line-height: 22px;
    z-index: 2;
    border-radius: 3px;
    text-align: center;
    color: #9B9B9B;
    background: #FFFFFF;
}

.wx-contacts-search-focusing .wx-contacts-search-text {
  display: none;
}